.tables-detail p {
  margin-bottom: 12px;
  color: #176F44;
  font-size: 20px !important;
}
.contenedor{
  position: relative;
  padding: 70px 50px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.2);
}
.bg-table{
  background: #176F44;
}
.table-t{
  color: #176F44 !important;
}
